<button type="button"class="btn btn-default navbar-btn" data-toggle="modal" data-target="#login">
  Login 
</button>

<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        
      </div>
      <div class="modal-body">
        <%= render "devise/sessions/new" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary" id="myModalLabel"> --><%#= link_to "Log in", new_session_path(resource_name) %><!-- </button> -->
      </div>
    </div>
  </div>
</div>