<div class="profile-page">
  <h2>{{currentUser.name}}</h2>

  <img src="{{currentUser.user_image.thumb.url}}">

  <h5><b>Win Percentage:   </b>{{currentUser.win_percentage}}%</h5>

  <h5>Tips: </h5>
<!--   <ul>
    <li ng-repeat="tip in currentUser.tips"></li>
  </ul>
 -->
  <div>
    <h3>Subscription Requests</h3>
    <div ng-repeat="f in follower">
      <div ng-if="f.following == false">
        <p>{{f.customer_name}}</p>
        <button ng-click="acceptSubscription(f)" class="btn btn-success">Accept</button>
        <button ng-click="rejectSubscription(f)" class="btn btn-danger">Reject</button>
      </div>
    </div>
  </div>
</div>  

<!-- <ul ng-repeat="">
  <li>{{currentUser.tips}}</li>
</ul> -->