<h2>Leadertable</h2>

<table class="table table-hover">
  <tr>
    <th>Name</th>
    <th>Win Percentage</th>
    <th>Price</th>
    <th>Follow</th>
  </tr>
  <tr ng-repeat="tipster in tipsters | orderBy: 'win_percentage': reverse=true">
    <td><a href="/betip/profile/{{tipster.id}}">{{tipster.name}}</a></td>
    <td>{{tipster.win_percentage}}%</td>
    <td>{{tipster.price | currency:'£' }}</td>
    <div>
      <td><button 
        ng-click="subscribeTips(tipster)"
        class="btn btn-success ">Follow</button><p ng-if="tipster.id == pending.tipster_id && pending.following == false">Pending</p></td>
    </div>
  </tr>
</table>
