<div>
  <h3>Tip Record</h3>
  <table class="table table-bordered" ng-repeat="tip in userTips | orderBy: 'created_at': reverse=true">

    <tr>
      <th class="profile-tip-date">Date</th>
      <th class="profile-tip-bookies">Best Bookies</th>
      <th>Predictions</th>
      <th>Status</th>
    </tr>

    <tr>
      <td>{{ tip.created_at | date : "dd/MM/yy"}}</td>
      <td>{{ tip.bookies }} offer {{ tip.odds | number : 2 }}</td>
      <td>
        <ul class="profile-tip-predictions-data" ng-repeat="prediction in tip.predictions | limitTo : 1">
          <li>
            <div class="tip-accordion">
              <!-- <h5 slide-toggle="#tip-accordion-data"><b>Click here for more</b></h5> -->
              <div id="tip-accordion-data" >
                <!-- class="slideable" -->
                <ul class="profile-tip-predictions-data" ng-repeat="prediction in tip.predictions">
                  <li>{{ prediction.date | date : "dd/MM/yy H:mm" }} - {{ prediction.homeTeam }} vs {{ prediction.awayTeam}} | {{prediction.type_of_bet.name}}</li>
                </ul>
                <br/>
                <p>
                  {{tip.comment}}
                </p>
              </div>
            </div>
          </li>
        </ul>
      </td>
      <td ng-if="tip.won == true">Won</td>
      <td ng-if="tip.won == false">Lost</td>
      <td ng-if="tip.won == nil">Pending</td>
    </tr>
  </table>
</div>