<div class="hot-tipsters">
  <h2>Hot Tipsters</h2>

  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
   
    <!-- Wrapper for slides -->

    <div class="carousel-inner">
      <div class="item active carousel-active">
        <h3><a href="/betip/profile/{{first.id}}">{{ first.name }}</a></h3>
        <img class="carousel-image" src="{{first.user_image.url}}">
        <p><b>Win Percentage: </b>{{ first.win_percentage }}%</p>
        <p><b>Price: </b> {{ first.price | currency:'£' }}</p>
        <p><b>Followers: </b> {{ first.follow_count }}</p>
      </div>
      <div class="item carousel-active">
        <h3><a href="/betip/profile/{{second.id}}">{{ second.name }}</a></h3>
        <img class="carousel-image" src="{{second.user_image.thumb.url}}">
        <p><b>Win Percentage: </b>{{ second.win_percentage }}%</p>
        <p><b>Price: </b> {{ second.price | currency:'£' }}</p>
        <p><b>Followers: </b> {{ second.follow_count }}</p>
      </div>
      <div class="item carousel-active">
        <h3><a href="/betip/profile/{{third.id}}">{{ third.name }}</a></h3>
        <img class="carousel-image" src="{{third.user_image.thumb.url}}">
        <p><b>Win Percentage: </b>{{ third.win_percentage }}%</p>
        <p><b>Price: </b> {{ third.price | currency:'£' }}</p>
        <p><b>Followers: </b> {{ third.follow_count }}</p>
      </div>
    </div>
   
    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div> 
</div>

<followed-tips></followed-tips>
<todays-fixtures></todays-fixtures>