html{
  height: 100%;
  body{
    width: 100%;
    height: 100%;
    .navbar{
      height: 5%;
      min-height: 5%;
      h1{
        font-size: 15px;
        margin-top: 12%;
      }
      a{
        color: white;
        font-family: 'Open Sans Condensed', sans-serif;
        img{
          height: 50px;
          width: 160px;
        }
      }
      a.betip{
        letter-spacing: 8px;

      }
      h3{
        margin-top: 7%;
        font-size: 15px;
        letter-spacing: 3px;
      }
      a:hover{
        background-color: transparent;
      }
      a:visited{
        color: white;
      }
      li.dropdown{
        a.dropdown-toggle{
          margin-top: -24%;
        }
        ul.dropdown-menu{
          margin-top: -26%;
          background-color: black;
          color: white;
          letter-spacing: 2px;
        }
      }
      background-color: black;
      border-bottom: 5px solid #c8001b;
      .blue{
        height: 100%;
        border-bottom: 5px solid #1c90bc;
        .modal{
          font-family: 'Josefin Sans', sans-serif;
          .modal-header{
            background: black;
            border-bottom: 5px solid #1c90bc;
            color: white;
          }
        }
      }
    }
    .welcome-page{
      background-image: url('fans-edit.jpg');
      height: 70%;
      margin-top:8%;
      margin-bottom: 4%;
      .navbar{
        h1.login{
          margin-left: 50%;
          width: 100%;
          color: white;
          font-family: 'Open Sans Condensed', sans-serif;
          letter-spacing: 3px;
          margin-top: 18%;
        }
        h1.login:hover{
          text-decoration: underline;
        }
        h1.sign-up{
          color: white;
          font-family: 'Open Sans Condensed', sans-serif;
          letter-spacing: 3px;
          margin-top: 12%;
        }
        h1.sign-up:hover{
          text-decoration: underline;
        }
      }
      .welcome-page-h1{
        width: 50%;
        text-align: center;
        margin: 0 auto;
        font-size: 1300%;
        padding-top: 10%;
        letter-spacing: 25px;
        font-family: 'Open Sans Condensed', sans-serif;
      }
    }
    .prem-photo{
      width: 70%;
      margin: 0 auto;
      img{
        height: 45%;
        width: 70%;
        position: absolute;
      }
    }
    .inner-body{
      width: 70%;
      // min-height: 100%;
      margin: 0 auto;
      margin-top: 2.5%;
      background-color: #d7d7d7;
      padding-top: 19.5%;
      padding-right: 2%;
      padding-left: 2%;
      padding-bottom: 5%;
      color: black;
      font-family: 'Josefin Sans', sans-serif;
      box-shadow: 0 0 7px -1px #000;
      .table tr {
        font-family: 'Josefin Sans', sans-serif;
        th.profile-tip-bookies{
          width: 15%;
        }
        td ul.predictions-data{
          margin-left: -5%;
          li{
            font-size: 9px;
          }
        }
        p{
          font-size: 9px;
        }
      }
      a:visited{
        color: black;
      }
      a:hover{
        color:white;
      }
      .hot-tipsters{
        margin-top: 7%;
        .carousel-inner{
          a{
            color: black;
          }
          a:hover{
            color: white;
            background-color: transparent;
          }
          width:100%;
          height:315px;
          font-family: 'Josefin Sans', sans-serif;
          .carousel-active{
            width: 50%;
            margin: 0 auto;
            text-align: center;
          }
          .carousel-image{
            border-radius: 100%;
            height: 160px;
            width: 160px;
            margin: 0 auto
          }
        }
        .carousel-control.left{
          background-image:none;
        }
        .carousel-control.left:hover{
          background-image:none;
        }
        .carousel-control.right{
          background-image:none;
        }
      }
      .leadertable{
        margin-top: 7%;
        .leadertable-image{
          border-radius: 100%;
        }
        a{
          color: black;
        }
        a:hover{
          color: white;
          background-color: transparent;
        }
      }
      .profile-page{
        margin-top: 7%;
        img{
          border-radius: 100%;
          margin-left: 33%;
          height: 223px;
          width: 223px;
        } 
        h3{
          border-top: 1px solid black;
          border-bottom: 1px solid black;
        }
        h4{
          margin-left: 35%;
        }
        .follow-button{
          margin-left: 44%;
        }

      }
      .new-tip{
        margin-top: 7%;
      }
      .tip-form{
        display: block;
        margin: 0 auto;    
        border: 2px solid #777;
        width: 50%;
        height: 45%;
        border-radius: 5%;
        padding: 5%;
        margin-bottom: 5%;
        box-shadow: 0 0 7px -1px #000;
        ul{
          padding-left: 0;
        }
        .bookies{
          display: inline;
          width: 70%;
        }
        .odds{
          display:inline;
          width: 25%;
          margin-left: 3%;
        }
      }      
      .add-prediction{
        padding-left: initial;
        font-size: 10px;
        text-align: center;
        .line-input-numbers{
          display:inline;
          .input-number{
            width: 7%;
            display: inline-block;
          }
        }
      }
      .select-bet-type{
        display: inline-block;
        width: 24%;
        font-size: 10px;
      }
      button{
        color: black;
      }
      .hidden{
        display: none;
      }
      h2{
        background: white;
        text-align: center;
        padding: 2%;
        border-radius: 5px;
      }
    }   
    ul{
      list-style: none;
    }
    footer{
      height: 5%;
      position: fixed;
      width: 100%;
      bottom: 0;
      background: black;
      padding-top: 0.5%;
      padding-left: 1%;
      padding-right: 1%;
      .social-logo{
        margin-left:1%;
        height: 80%;
        float: right;
      }
    }
  }
}