html{
  height: 100%;
  body{
    width: 100%;
    height: 100%;
    .navbar{
      a{
        color: white;
        font-family: 'Open Sans Condensed', sans-serif;
        img{
          height: 50px;
          width: 160px;
        }
      }
      a.betip{
        letter-spacing: 8px;
      }
      a.user-name{
        letter-spacing: 3px;
      }
      a:visited{
        color: white;
      }
      ul.dropdown-menu{
        background-color: black;
        color: white;
        letter-spacing: 2px;
      }
      background-color: black;
      border-bottom: 5px solid #c8001b;
      .blue{
        border-bottom: 5px solid #1c90bc;
      }
    }
    .welcome-page{
      background-image: url('fans-edit.jpg');
      height: 70%;
      margin-top:12%;
      .navbar{
        h1.login{
          margin-left: 50%;
          width: 100%;
          color: white;
          font-family: 'Open Sans Condensed', sans-serif;
          letter-spacing: 3px;
        }
        h1.login:hover{
          text-decoration: underline;
        }
        h1.sign-up{
          color: white;
          font-family: 'Open Sans Condensed', sans-serif;
          letter-spacing: 3px;
        }
        h1.sign-up:hover{
          text-decoration: underline;
        }
      }
      .welcome-page-h1{
        width: 50%;
        text-align: center;
        margin: 0 auto;
        font-size: 1300%;
        padding-top: 10%;
        letter-spacing: 25px;
        font-family: 'Open Sans Condensed', sans-serif;
      }
      // .welcome-page-h4{
      //   color: #e7e7e7;
      //   width: 15%;
      //   border: 5px solid #e7e7e7;
      //   margin-left: 12%;
      //   padding: 3%;
      //   border-radius: 100%;
      // }
    }
    .inner-body{
      width: 70%;
      height: 200%;
      margin: 0 auto;
      margin-top: 6%;
      border-radius: 1%;
      background-color: #d7d7d7;
      padding-top: 2.5%;
      padding-right: 2%;
      padding-left: 2%;
      color: black;
      font-family: 'Raleway', sans-serif;
      .carousel-inner{
        width:100%;
        height:315px;
        font-family: 'Raleway', sans-serif;
        .carousel-active{
          width: 50%;
          margin: 0 auto;
          text-align: center;
        }
        .carousel-image{
          border-radius: 100%;
          height: 160px;
          width: 160px;
          margin: 0 auto
        }
      }
      .carousel-control.left{
        background-image:none;
      }
      .carousel-control.left:hover{
        background-image:none;
      }
      .carousel-control.right{
        background-image:none;
      }
      .profile-page{
        img{
          border-radius: 100%;
          margin-left: 33%;
          height: 223px;
          width: 223px;
        } 
        h3{
          border-top: 1px solid black;
          border-bottom: 1px solid black;
        }
        h4{
          margin-left: 35%;
        }
        button{
          margin-left: 44%;
        }
        .table tr {
          font-family: 'Raleway', sans-serif;
          th.profile-tip-date{
            width: 18%;
          }
          th.profile-tip-bookies{
            width: 22%;
          }
          td ul.profile-tip-predictions-data{
            margin-left: -10%;
            li.type-of-bet-name-score{
              display: inline;
            }
            li .tip-accordion{
              #tip-accordion-data{
                ul li{
                  font-size: 9px;
                }
                p{
                  font-size: 9px;
                }
              }
            }
          }
        }
      }
      .tip-form{
        display: block;
        margin: 0 auto;    
        border: 2px solid #777;
        width: 50%;
        height: 45%;
        border-radius: 5%;
        padding: 5%;
        margin-bottom: 5%;
        ul{
          padding-left: 0;
        }
      }      
      .add-prediction{
        padding-left: initial;
        font-size: 10px;
        .line-input-numbers{
          display:inline;
          .input-number{
            width: 7%;
            display: inline-block;
          }
        }
      }
      .select-bet-type{
        color: black;
      }
      button{
        color: black;
      }
      .hidden{
        display: none;
      }
      h2{
        border-bottom: 1px solid black;
        text-align: center;
        padding: 2%;
      }
    }   
    ul{
      list-style: none;
    }
  }
}