body{
  width: 100%;
  .homepagebuttons h2{

  }
  .carousel-inner{
    width:100%;
    height:315px
  }

  .tip-form{
    width: 35%;
    height: auto;
    display: block;
    margin: 0 auto;    
    border: 2px solid black;
  }
}