<nav class="navbar navbar-fixed-top" role="navigation">
  <div class="blue">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><h1><a href="/" class="betip">betip</a></h1></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><h3><a href="/betip/profile/<%= current_user.id %>" class="user-name"><%= current_user.name %></a></h3></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/betip/maketip">Tip</a></li>
              <li><a href="/betip/leadertable">Leadertable</a></li>
              <li class="divider"></li>
              <li><%= link_to 'Log Out', destroy_user_session_path, method: :delete  %></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>