<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= render "devise/pop_up_windows/sign_up" %></li>
        <li><%= render "devise/pop_up_windows/login" %></li>
      </ul>
    </div>
  </div>
</nav>